<h1>Edit Article form</h1>
  <% if @article.errors.any? %>
  <h2>The following errors prevented the article from being edited</h2>
      <% @article.errors.full_messages.each do |msg| %>
      <ul>  
        <li><%= msg %></li>
      </ul>
    <% end %>
  <% end %>


<%= form_for @article do |form| %>
    <p>
      <%= form.label :title %><br>
      <%= form.text_field :title %>
    </p>
   
    <p>
      <%= form.label :description %><br>
      <%= form.text_area :description %>
    </p>
   
    <p>
      <%= form.submit %>
    </p>
  <% end %>
  
  <%= link_to 'Display articles page', articles_path%>